.main__body {
  background: url(../img/bkg.png) center (center/cover) no-repeat;

  // position: relative;
  // overflow: hidden;
}
.main-container {
  padding-left: 60px;
  padding-right: 60px;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
section {
  position: relative; /* Добавляем позиционирование */
  overflow: hidden; /* Обрезаем дочерние элементы, выходящие за пределы */
  min-height: 100vh;
}
.main {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}
.img-abs-1 {
  position: absolute;
  right: 900px;
  top: -9%;
  z-index: 20;
}
.img-abs-2 {
  position: absolute;
  right: 1200px;
}
.img-abs-3 {
  position: absolute;
  left: -200px;
}
.img-abs {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 12;
}
.img-abs-4 {
  position: absolute;
  left: -350px;
  top: 60%;
}
.img-abs-second {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 14;
}
.img-abs-5 {
  position: absolute;
  left: -540px;
  top: 70%;
}
.img-abs-6 {
  position: absolute;
  left: -350px;
  top: 100%;
}
.image-abs {
  display: none;
  position: absolute;
  right: -15px;
  bottom: 0;
  z-index: 1;
}
.main__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  width: 750px;
  position: relative;
}

.main--image {
  position: relative;
  // width: 491px;
  // height: 645px;
}
.main--info {
}
.main__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: clamp(1.75rem, 1.286rem + 1.905vw, 3rem);
  color: #fff;
  padding-bottom: 24px;
  width: 700px;
}
.main__subtitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: clamp(1rem, 0.907rem + 0.381vw, 1.25rem);
  color: #e6e6e6;
  padding-bottom: 20px;
  width: 100%;
}
.main__items {
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: clamp(20.5rem, 19.479rem + 4.19vw, 23.25rem) clamp(
      20.5rem,
      19.479rem + 4.19vw,
      23.25rem
    );
  grid-template-rows: 200px 200px;
  gap: 20px;
}
.main__item {
  backdrop-filter: blur(10px);
  z-index: 1000;
  border-radius: 16px;
  padding: 24px 16px;
  height: 200px;
  background: rgba(255, 255, 255, 0.05);
}

.main__item--intro {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-bottom: 15px;
}
.main__item--title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: clamp(1.25rem, 1.204rem + 0.19vw, 1.375rem);
  color: #fff;
}
.main__item--descr {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: clamp(0.875rem, 0.782rem + 0.381vw, 1.125rem);
  color: #b1b1b1;
  width: 90%;
}
.main--link {
  border-radius: 8px;
  padding: 16px 40px;
  margin: 0 auto;
  background: #fff;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  max-width: 252px;
  color: #160c4c;
  margin-top: 20px;
  display: block;
  transition: 0.3s all ease-in;
}
.main--link:hover {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
}
@media screen and (max-width: 1920px) {
  .img-abs-second {
    left: -20px;
    bottom: 0;
  }
}
@media screen and (max-width: 1650px) {
  .img-abs-second {
    left: -50px;
    // bottom: -83px;
  }
}
@media screen and (max-width: 1450px) {
  .main-container {
    max-width: 1200px;
  }
  .img-abs-second {
    // bottom: -84px;
    left: -106px;
  }
}
@media screen and (max-width: 1368px) {
  .img-abs-second {
    // bottom: -110px;
    // left: -30%;
  }
  .main__subtitle {
    padding-bottom: 20px;
  }
  .img-abs-second {
    // left: -7%;
  }
  .img-abs-1 {
    right: 760px;
  }
  .img-abs-2 {
    right: 1085px;
  }
  .img-abs-3 {
    left: -148px;
  }
  .img-abs-4 {
    left: -250px;
  }
  .img-abs-5 {
    left: -424px;
  }
  .img-abs-6 {
    left: -275px;
  }
  .main {
    padding-top: 16px;
  }
  .main-container {
    padding: 0;
  }
  .main__items {
    grid-template-columns: 350px 350px;
    align-items: end;
  }
  .main__item {
    height: 200px;
  }
  .main {
    padding-right: 20px;
    padding-left: 20px;
  }
  .main--image {
    // width: 420px;
    // height: 550px;
  }
  .main__wrapper {
    gap: 15px;
  }
}

@media screen and (max-width: 1024px) {
  .main__wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .img-abs-1 {
    width: 350px;
    top: -5%;
    right: 699px;
  }
  .img-abs-second {
    display: none;
  }
  .img-abs-2 {
    right: 900px;
  }
  .img-abs-3 {
    left: -103px;
    top: 50%;
  }
  .img-abs-6 {
    left: -72px;
  }
  .image-abs {
    display: block;
    z-index: 1;
  }
  .main-item {
    z-index: 10;
  }
  .main--image {
  }
}
@media screen and (max-width: 991px) {
  .main-container {
    max-width: 970px;
  }
}
@media screen and (max-width: 768px) {
  .main__title {
    width: 100%;
  }
  .main-container {
    overflow: hidden;
  }
  .main__wrapper {
    width: 100%;
  }
  .img-abs-1 {
    width: 140px;
    right: -40px;
    top: 10%;
  }
  .img-abs-5 {
    display: none;
  }
  .img-abs-4 {
    width: 70px;
    right: -40px;
    top: 7%;
    z-index: 13;
    left: unset;
  }
  .img-abs-3 {
    top: 108%;
    left: unset;
    right: -30px;
    width: 60px;
  }
  .img-abs-2 {
    left: unset;
    right: 0;
    top: 100%;
    width: 80px;
    z-index: 12;
  }
  .img-abs-6 {
    display: none;
  }
  .main {
    max-width: 740px;
    padding-right: 16px;
    padding-left: 16px;
  }
  .main {
    padding-top: 16px;
    padding-bottom: 40px;
  }
  .main__title {
    padding-top: 30px;
  }
  .main__subtitle {
    padding-bottom: 20px;
  }
  .main__items {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
  .main__item {
    height: auto;
  }
  .main__item:last-child {
    z-index: 100;
  }
  .main--link {
    margin: 0;
    margin-top: 40px;
  }
}
@media screen and (max-width: 550px) {
  .img-abs-1,
  .img-abs-4 {
    right: -45px;
  }
  .main__subtitle {
    width: 250px;
  }
}
@media (max-width: 480px) {
  section {
    max-width: none;
  }
}
